*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
nav ul li a:hover, a.active{
    background-color: #3352F2;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    float: left;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 150px;
}
.plus-minus-btn button{
    color: #3352F2;
    font-size: 25px;
    padding: 4px;
    margin-top: 15px;
    word-spacing: 30px;
    border: none;
    background: white;
    width: 20px;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.booking-content{
    color: #fff;
    width: 80%;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #3352F2;
}
.amount{
    display: flex;
    justify-content: space-between;
}

.IndividualBill{
    margin-top: 16px;
    justify-content: right;
    /* width: 100px; */
}

.calculations .right{
    justify-content: right;
}

#doubleFareNotification small{
    text-align: center;
    color: tomato;
    display: none;
}

#popupBox{
    margin: 0 auto;
    width: 40%;
    padding: 4rem;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(to top left, #000428 , #004e92);
    position: fixed;
    top: 10rem;
    left: 30%;
    font-size: 20px;
    color: white;
}

#closePopupBox{
    border: none;
    background-image: linear-gradient(to top left, #ff5f6d , #ffc371);
    font-size: 16px;
    padding: 6px;
    border-radius: 10px;
    margin-top: 1rem;
}